<div class="row">
    <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Perfil de Usuario</h4>
              <h6 class="card-subtitle">Ajustes</h6>

              <form class="form p-t-20"
                    [formGroup]="perfilForm"
                    (submit)="actualizarPerfil()">
                  <div class="form-group">
                      <label for="exampleInputuname">User Name</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-user"></i></div>
                          <input type="text" 
                                 class="form-control"  
                                 id="exampleInputuname" 
                                 placeholder="Username"
                                 formControlName="nombre"
                                 >
                          <!-- <input type="text" [(ngModel)]="nombre"  name="nombre" class="form-control"  id="exampleInputuname" placeholder="Username"> -->
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-email"></i></div>
                          <input type="email" 
                                 class="form-control" 
                                 id="exampleInputEmail1" 
                                 placeholder="Enter email"
                                 formControlName="email"                                 
                                 [readOnly]="usuario.google">
                          <!-- <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="pwd1">Password</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-lock"></i></div>
                          <input type="password" 
                                class="form-control" 
                                id="pwd1" 
                                placeholder="Enter email"
                                formControlName="password"
                                value="usuario.password">
                      </div>
                  </div>                  
                  
                  <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10"
                      [disabled]="perfilForm.invalid">
                    <i class="fa fa-save"></i>
                    Submit</button>
                  <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
              </form>
          </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Imagen</h4>
              <h6 class="card-subtitle">Imagen del Usuario</h6>

              <div class="text-center">                  
                  <img *ngIf="!imgTemp"  [src]="usuario.imagenUrl" class="img-avatar" >
                  <img *ngIf="imgTemp"   [src]="imgTemp" class="img-avatar" >
              </div>

              <input type="file" (change)="cambiarImagen($event)">              


              <br>
              <br>
              <button type="button" 
                      class="btn btn-success btn-block waves-effect waves-light m-r-10"
                      [disabled]="!imagenSubir"
                      (click)="subirImagen()">
                <i class="fa fa-save"></i>
                Guardar Cambios</button>
              
          </div>
      </div>
    </div>

</div>